<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path %> |
  <%= link_to 'Authentications', authentications_path %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path %> |
  <%= link_to "Login", new_user_session_path %>
	 <li><%= link_to "Twitter", user_omniauth_authorize_path(:twitter) %></li>
     <li><%= link_to "Facebook", user_omniauth_authorize_path(:facebook) %></li>
<% end %>